.cool {
  background-image: url(../images/cool/line1.svg), url(../images/cool/line2.svg),
    linear-gradient(270deg, #a93cac -0.58%, #67005f 104.43%);
  // linear-gradient(178deg, #67005f 8.19%, #a93cac 99.13%);
  background-color: #f7f6f4;
  background-position: top -4% left, bottom -4% left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 104px 0px 109px;
}
