.tess {
  background-image: url('../images/what/line1.svg'), url('../images/what/line2.svg'),
    linear-gradient(178deg, #67005f 8.19%, #a93cac 99.13%);
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: contain;
  height: 525px;
}
